@charset "UTF-8";

main {
    margin: 0 auto;
    padding: 40px 0;
    width: 600px;
}

section {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 20px;
}

section + section {
    margin-top: 40px;
}

.flex {
    display: flex;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.profile-image img {
    height: 200px;
    width: auto;
}

.profile-text {
    margin-left: 20px;
}

.profile-description {
    margin-top: 20px;
}

a {
    color: skyblue
}

a:hover {
    color: blue;
}

div {
    font-size: 1em;
}

.ranking li {
    counter-increment: rank;
    padding: 12px 40px;
    border-radius: 50ch;
    margin: 12px 0;
}

.ranking li::before {
    content: counter(rank)"位";
    margin-right: 1em;
}

.ranking li:nth-child(1) {
    background-color: #f1c405;
    opacity: 0.5;
}

.ranking li:nth-child(2) {
    background-color: #bdc3c7;
    opacity: 0.5;
}

.ranking li:nth-child(3) {
    background-color: #e67e22;
    opacity: 0.5;
}

.heading {
    border: darkslategrey solid 10px;
    background-color: white;
    margin-bottom: 60px;
    padding: 20px 40px;
    position: relative;
    text-align: center;
    border-radius: 20px;
}

.heading::before{
    border-color: darkslategrey transparent transparent transparent;
    border-style: solid;
    border-width: 40px 20px 0 20px;
    bottom: -40px;
    content: "";
    height: 0;
    width: 0;
    margin-left: -20px;
    position: absolute;
    left: 50%;
}

.heading::after{
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 40px 20px 0 20px;
    bottom: -20px;
    content: "";
    height: 0;
    width: 0;
    margin-left: -20px;
    position: absolute;
    left: 50%;
}

.tab p {
	display: none;
}

.tab input:checked ~ p{
    display: block;
}